/* line 1, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 1, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
a, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, p, pre, span, th, td {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* line 6, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
fieldset, img {
  border: 0;
}

/* line 13, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
address, em, th {
  font-style: normal;
  font-weight: normal;
}

/* line 17, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
li {
  list-style: none;
}

/* line 20, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
th {
  font-style: normal;
  text-align: left;
}

/* line 24, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/* line 27, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 33, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
.msie input, .msie textarea, .msie select {
  font-size: 100%;
}

/* line 36, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/redgreengrid-0.3.2/sass/redgreengrid/_reset.sass */
header, section, article, aside, footer, time {
  display: block;
}

/* line 3, ./config/../src/stylesheets/basics/_typography.sass */
nav,
.gfc-result {
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Swiss 721 Light','Helvetica','Arial','sans-serif';
  font-size: 13px;
  font-weight: 200;
  line-height: 20px;
  position: relative;
  bottom: 1px;
}

/* line 1, ./config/../src/stylesheets/basics/_links.sass */
a {
  color: inherit;
}

/* line 1, ./config/../src/stylesheets/basics/_background.sass */
body,
html {
  background-color: #c42828;
  background-image: url(../images/background-lines.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* line 1, ./config/../src/stylesheets/partials/_header.sass */
header {
  color: black;
  float: left;
  margin-right: 10px;
  position: fixed;
}
/* line 7, ./config/../src/stylesheets/partials/_header.sass */
header img {
  position: relative;
  top: -100px;
}
/* line 11, ./config/../src/stylesheets/partials/_header.sass */
header iframe {
  border: 2px #d99d9c solid;
  left: 68px;
  position: absolute;
  top: 370px;
}
/* line 17, ./config/../src/stylesheets/partials/_header.sass */
header nav {
  left: 0;
  position: absolute;
  text-align: right;
  top: 540px;
  width: 215px;
}
/* line 24, ./config/../src/stylesheets/partials/_header.sass */
header nav a {
  float: right;
  clear: right;
  text-decoration: none;
}
/* line 4, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/compass-0.10.2/frameworks/compass/stylesheets/./compass/utilities/links/_hover-link.scss */
header nav a:hover {
  text-decoration: underline;
}

/* line 1, ./config/../src/stylesheets/partials/_page.sass */
.page {
  color: black;
  margin-left: 270px;
}
/* line 5, ./config/../src/stylesheets/partials/_page.sass */
.page a {
  font-weight: bold;
}

/* line 1, ./config/../src/stylesheets/partials/_columns.sass */
.column {
  float: left;
  width: 320px;
}

/* line 1, ./config/../src/stylesheets/partials/_sections.sass */
#meetings-feed {
  background: url(../images/meetings-background.png) repeat-y;
}
/* line 4, ./config/../src/stylesheets/partials/_sections.sass */
#meetings-feed .feed {
  background: url(../images/meetings.png) no-repeat;
  color: #fcefef;
  padding: 150px 20px 20px 42px;
}

/* line 9, ./config/../src/stylesheets/partials/_sections.sass */
#links-feed {
  background: url(../images/links.png) no-repeat;
  padding: 50px 20px 20px 84px;
}

/* line 13, ./config/../src/stylesheets/partials/_sections.sass */
#global-feed {
  background: url(../images/feed-background.png) repeat-y;
}
/* line 16, ./config/../src/stylesheets/partials/_sections.sass */
#global-feed .feed {
  background: url(../images/feed.png) no-repeat;
  color: #fcefef;
  padding: 110px 20px 20px 38px;
}

/* line 21, ./config/../src/stylesheets/partials/_sections.sass */
#twitter-feed {
  background: url(../images/twitter.png) no-repeat;
  padding: 50px 20px 20px 68px;
}

/* line 25, ./config/../src/stylesheets/partials/_sections.sass */
#posts-feed {
  background: url(../images/posts-background.png) repeat-y;
}
/* line 28, ./config/../src/stylesheets/partials/_sections.sass */
#posts-feed .feed {
  background: url(../images/posts.png) no-repeat 0 -20px;
  padding: 190px 20px 20px 70px;
}

/* line 32, ./config/../src/stylesheets/partials/_sections.sass */
#github-feed {
  background: url(../images/github.png) no-repeat;
  padding: 50px 20px 20px 61px;
}

/* line 39, ./config/../src/stylesheets/partials/_sections.sass */
.gfc-resultsHeader {
  display: none;
}

/* line 42, ./config/../src/stylesheets/partials/_sections.sass */
.gf-result {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 8, /Users/nh/.rvm/gems/ruby-1.9.2-p318@middleman/gems/compass-0.10.2/frameworks/compass/stylesheets/./compass/utilities/general/./_hacks.scss */
.gf-result {
  display: block;
}
/* line 46, ./config/../src/stylesheets/partials/_sections.sass */
.gf-result .gf-author,
.gf-result .gf-spacer,
.gf-result .gf-relativePublishedDate {
  color: #621414;
  float: left;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
}
/* line 55, ./config/../src/stylesheets/partials/_sections.sass */
#meetings-feed .gf-result .gf-author, #global-feed .gf-result .gf-author, #meetings-feed
.gf-result .gf-spacer, #global-feed
.gf-result .gf-spacer, #meetings-feed
.gf-result .gf-relativePublishedDate, #global-feed
.gf-result .gf-relativePublishedDate {
  color: #e08b8b;
}
/* line 59, ./config/../src/stylesheets/partials/_sections.sass */
.gf-result .gf-title {
  height: 20px;
}

/* line 62, ./config/../src/stylesheets/partials/_sections.sass */
a {
  color: #310a0a;
}
/* line 65, ./config/../src/stylesheets/partials/_sections.sass */
#meetings-feed a, #global-feed a {
  color: #f6dbdb;
}
